---
name: Self-test yamllint

on: [workflow_dispatch]

jobs:
  yamllint:
    name: Self-test
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
      - name: Lint YAML
        uses: ./
